@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  color: rgba(163,163,163,1);
}

.Card > div {
  border-radius: 20px;
}
.bg-white {
  background-color: rgb(243,244,246) !important;
}